*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.webrtc-container {
  display: flex;
  gap: 16px;
}

.constraints-selector-item {
  & + & {
    margin-block-start: 8px;
  }
}

.actions-container {
  overflow: auto;
  flex: 0 0 400px;
  width: 400px;
  padding: 0 16px;
}

.more-actions-item {
  & + & {
    margin-block-start: 8px;
  }
}

.player-container {
  width: 100%;
  padding: 0 16px;

  #video {
    object-fit: cover;
  }
}
